@import '../../styles/colors';
@import '../../styles/general.scss';
@import '../../styles/media-queries';

.video-gallery {
    display: flex;
    width: 80%;
    left: 10%;
    flex-flow: column;
    padding-top: 15rem;
    background-color: $white;
    position: relative;
    margin-bottom: 3rem;

    @include for-size-lower(normal) { 
        width: 90%;
        left: 5%;
    }

    .video-gallery-title {
        color: $black;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 3.6rem;
        line-height: 4.4rem;
        letter-spacing: 0.002em;
        margin-bottom: 5rem;
    }

    .video-gallery-content {
        display: inline-flex;
        flex-flow: column;
        width: 100%;

        .video-gallery-item {
            display: inline-flex;
            align-items: center;
            margin-bottom: 3rem;

            @include for-size-lower(normal) { 
                flex-flow: column;
                align-items: flex-start;
                margin-bottom: 6rem;
            }

            .video-gallery-player {
                border-radius: 1rem;
                overflow: hidden;
                max-width: 50%;

                @include for-size-lower(normal) { 
                    margin-bottom: 5rem;
                    max-width: 85%;
                    width: 85% !important;
                }
               
                @include for-size-lower(small) { 
                    margin-bottom: 5rem;
                    max-width: 100%;
                    width: 100% !important;
                    height: auto !important;
                }
            }

            .video-gallery-item-text {
                display: inline-flex;
                flex-flow: column;
                margin-left: 5rem;


                .video-gallery-item-title {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 2.6rem;
                    line-height: 4.4rem;
                    color: $black;
                    margin-bottom: 1.5rem;
                }

                .video-gallery-item-subtitle {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                    color: $blue;
                    margin-bottom: 4rem;
                }

                .arrow {
                    margin-left: 3rem;
                }
            }
        }
    }
}