$active-orange: #FFA927;
$black: #0C2E41;
$dark-blue: #10345A;
$blue: #395B6F;
$light-blue: #EEF8FE;
$light-blue1: #B1CEEC;
$gray-blue: #F8FCFF;
$gray-blue1: #D7EEFC;
$gray: #F4F4FA;
$gray1: #DAE1E6;
$gray2: #FAFCFE;
$gray3: #FAFCFE;
$gray4: #FDFEFF;
$gray5: #EEF3F8;
$gray6: #E3E3E3;
$light: #F8FAFC;
$white: #FFFFFF;
