a.orange {
    color: $active-orange;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: 0.002em;
    text-decoration: none;
    
    svg {
        display: none !important;
        margin-left: 1rem;
    }

    &:hover {
        svg {
            display: inline !important;
        }
    }
}