@import '../styles/colors.scss';

.invest-requests {
    display: inline-flex;
    width: 100%;
    flex-flow: column;
    align-items: center;

    .invest-requests-content {
        display: inline-flex;
        width: 80%;
        flex-flow: column;

        &>.title {
            max-width: 43rem;
            color: $black;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 3.6rem;
            line-height: 4.4rem;
            letter-spacing: 0.002em;
            margin-bottom: 3rem;
        }

        .list {
            display: inline-flex;
            width: 100%;
            margin-bottom: 6rem;
            justify-content: space-around;
            
            .list-item {
                display: inline-flex;
                flex-flow: column;
                width: 23%;
                cursor: pointer;
                padding: 1.6rem;
                background: $white;
                border: 1px solid $white;
                box-sizing: border-box;
                box-shadow: 0 .4rem 2rem rgba(0, 0, 0, 0.05);
                border-radius: 10px;
                
                &:hover {
                    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.1);
                }

                img {
                    width: 100%;
                }

                .item-title {
                    height: 8rem;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 26px;
                    color: $black;
                    margin: 1.6rem 0;
                }

                .params {
                    background: $light;
                    border-radius: 6px;
                    width: 100%;
                    height: 6.4rem;
                    display: inline-flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1.4rem 1.2rem;
                    margin-bottom: .8rem;

                    .param {
                        display: inline-flex;
                        flex-flow: column;
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                        
                        &:nth-child(n+2) {
                            border-left: .05rem solid $gray1;
                            padding-left: 1rem;
                        }

                        .name {
                            font-weight: 500;
                            margin-bottom: 1rem;
                        }
                        
                        .value {
                            font-weight: normal;
                        }
                    }
                }

                .score {
                    background: $gray2;
                    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.02);
                    border-radius: .6rem;
                    width: 100%;
                    height: 6.4rem;
                    display: inline-flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 1.2rem;
                    position: relative;

                    .title {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 1.6rem;
                        position: absolute;
                        left: 1.2rem;
                        top: 1.4rem;
                    }

                    .scored {
                        position: absolute;
                        top: 3.6rem;
                        left: 1.2rem;
                    }

                    .total {
                        position: absolute;
                        top: 3.6rem;
                        right: 1.4rem;
                        color: $gray3;
                    }

                    .progress {
                        height: 100%;
                        width: 50%;
                        background-color: $light-blue;
                    }
                }
            }
        }
        .btn-container {
            display: inline-flex;
            width: 100%;
            justify-content: center;
            margin-bottom: 6rem;
        }
    }
}