@import '../styles/colors';
@import '../styles/buttons';

.slide {
    display: flex;
    flex-flow: column;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url('../img/image10.png');

    .slide-content {
        position: relative;
        left: 10%;
        top: 22.4rem;
        color: $white;
        width: 0;
        
        .slide-title {
            width: 54.4rem;
            font-family: Montserrat, 'sans serif';
            font-style: normal;
            font-weight: 700;
            font-size: 4.6rem;
            line-height: 5.6rem;
            font-variant: small-caps;
            letter-spacing: 0.002em;
        }
        
        .slide-subtitle {
            width: 46.6rem;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 1.8rem;
            line-height: 2.6rem;
            margin-bottom: 3rem;
        }
    }
 
    .slide-background {
        width: 100%;
    }
}