@import '../styles/colors';
@import '../styles/media-queries';

.howitworks {
    display: inline-flex;
    width: 100%;
    align-items: center;
    position: relative;
    padding-top: 10rem;

    &.horizontal {
        margin-top: 10rem;
        .scroll-me {
            position: absolute;
            top: -2rem;
            left: 2rem;
        }
    }

    .howitworks-wrapper {
        width: 100%;

        .howitworks-container {
            position: relative;
            display: inline-flex;
            width: 80%;
            left: 10%;

            @include for-size-lower(normal) {    
                flex-flow: column;
                width: 90%;
                left: 5%;
            }

            .howitworks-steps {
                display: inline-flex;
                flex-flow: column;
                width: 27%;
                margin-right: 6rem;
                margin-bottom: 3rem;

                &.horizontal {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 5rem;
                    margin-top: 6rem;

                    .invest {
                        align-self: center;
                        margin-left: 0;
                        
                        @include for-size-lower(small) {    
                            margin-bottom: 4rem;
                        }
                    }
                }

                @include for-size-lower(normal) {    
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 5rem;
                }

                .steps-title {
                    font-family: Montserrat;
                    font-weight: 600;
                    font-size: 2.4rem;
                    line-height: 3.8rem;
                    letter-spacing: 0.002em;
                    color: $black;
                    margin-bottom: 4rem;

                    @include for-size-lower(normal) {    
                        max-width: 27rem;
                    }
                }

                .howitworks-steps-container {
                    display: inline-flex;
                    flex-flow: column;
                    position: relative;

                    @include for-size-lower(normal) {    
                        flex-flow: row;
                        justify-content: space-between;
                        margin-bottom: 3rem;
                        flex-wrap: wrap;
                    }

                    @include for-size-lower(small) {    
                        flex-flow: column;
                        margin-bottom: 2rem;
                    }
                    
                    .hoitworks-step {
                        display: inline-flex;
                        align-items: center;
                        margin: 2.5rem;
                        margin-right: 0;

                        @include for-size-lower(normal) {    
                            flex-flow: column;
                            align-items: flex-start;
                            margin: 0;
                            margin-bottom: 3rem;
                        }

                        @include for-size-lower(small) {    
                            flex-flow: row;
                            align-items: center;
                            margin: 2.5rem;
                            margin-left: 0;
                        }
        
                        span {
                            margin-left: 2.5rem;
                            font-weight: 500;
                            font-size: 1.8rem;
                            line-height: 2.1rem;

                            @include for-size-lower(normal) {    
                                margin-top: 3rem;
                                margin-left: 0;
                            }

                            @include for-size-lower(small) {    
                                margin-top: 0;
                                margin-left: 2.5rem;
                            }                        
                        }
                    }

                    .step-arrow {
                        left: 4rem;
                        position: relative;
                        
                        @include for-size-lower(normal) {    
                            left: -3rem;
                            top: 1rem;
                            transform: rotate(-90deg);
                        }
                        
                        @include for-size-lower(small) {    
                            left: 1.5rem;
                            top: -0.5rem;
                            transform: none;
                        }
                    }
                    
                    &.horizontal {
                        flex-flow: row !important;
                        justify-content: space-between !important;
                        margin-bottom: 3rem !important;
                        flex-wrap: wrap !important;

                        @include for-size-lower(small) {    
                            flex-flow: column !important;
                            margin-bottom: 2rem !important;
                        }

                        .hoitworks-step {
                            display: inline-flex;
                            align-items: center;
                            margin: 2.5rem;
                            margin-right: 0;
    
                            @include for-size-lower(normal) {    
                                flex-flow: column;
                                align-items: flex-start;
                                margin: 0;
                                margin-bottom: 3rem;
                            }
    
                            @include for-size-lower(small) {    
                                flex-flow: row !important;
                                align-items: center;
                                margin: 2.5rem;
                                margin-left: 0;
                            }
            
                            span {
                                margin-left: 2.5rem;
                                font-weight: 500;
                                font-size: 1.8rem;
                                line-height: 2.1rem;
    
                                @include for-size-lower(normal) {    
                                    margin-top: 3rem;
                                    margin-left: 0;
                                }
    
                                @include for-size-lower(small) {    
                                    margin-top: 0;
                                    margin-left: 2.5rem;
                                }                        
                            }
                        }
    
                        .step-arrow {
                            position: relative;
                            left: -1rem;
                            top: 4rem;
                            transform: rotate(-90deg);
                            
                            @include for-size-lower(small) {    
                                left: 1.5rem;
                                top: -0.5rem;
                                transform: none;
                            }
                        }
                    }
                }

                .invest {
                    width: 22.8rem !important;
                    height: 6.1rem !important;
                    margin-left: 2.5rem;
                    margin-top: 2rem;

                    @include for-size-lower(normal) {    
                        align-self: center;
                        margin-left: 0;
                    }
                    
                    @include for-size-lower(small) {    
                        margin-bottom: 4rem;
                    }
                }
            }
            
        }

        .desc {
            padding-left: 6rem;
            border-left: 0.05rem solid $gray6;
            width: 69%;

            @include for-size-lower(normal) {    
                padding-top: 5rem;
                padding-left: 0;
                width: 100%;
                border-left: none;
                border-top: 0.05rem solid $gray6;
            }

            .desc-title {
                font-family: Montserrat;
                font-weight: 600;
                font-size: 2.4rem;
                line-height: 3.8rem;
                margin-bottom: 4rem;
                padding-top: 2rem;

                @include for-size-lower(normal) {    
                    padding-top: 0;
                }
            }

            .desc-scheme {
                margin-bottom: 14rem;
                width: 100%;

                @include for-size-lower(normal) {    
                    margin-bottom: 6rem;
                }
            }
        }
    }
}