@import '../styles/colors';
@import '../styles/general';

.collapsible-container {
    background: $light-gray;
    border: 0.1rem solid $light-gray2;
    box-sizing: border-box;
    border-radius: 1rem;
    margin-bottom: 1.6rem;
    
    .collapsible-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.002em;
        color: $black;
        cursor: pointer;
        padding: 2.3rem 2.4rem;
        border-bottom: 0.1rem solid $light-gray2;
        border-radius: 1rem;

        &.open {
            border-radius: 0;
        }
    }

    .collapsible-content{
        padding: 1.8rem 2.4rem;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 2.6rem;
        letter-spacing: 0.002em;
        color: $blue;
    }
}