@charset 'utf-8';

@import "~bootstrap/scss/bootstrap";
@import "./styles/colors";
@import "./styles/buttons";
@import "./styles/general";

html {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.9rem;
  height: 100%;
  letter-spacing: 0.002em;
}